@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes falling {
  0% {
    transform: translateY(-10vh) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes sparkle-fall {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(-20px, 20px) rotate(360deg);
    opacity: 0;
  }
}

.falling-sparkle {
  position: fixed;
  animation: sparkle-fall linear forwards;
  z-index: 100;
  font-size: 24px;
  pointer-events: none;
}

.falling-heart {
  position: fixed; /* Ensure this is set */
  animation: falling 5s linear forwards;
  z-index: 50;
  pointer-events: none; /* Prevent hearts from interfering with clicks */
  font-size: 24px; /* Make hearts visible */
}
